@reference "../../app/globals.css";

.siteNav {
  @apply bg-light px-2 py-4;
}

.siteNav nav {
  @apply mx-auto max-w-6xl flex justify-between items-center;
}

.siteNav h1 {
  @apply font-bold text-xl;
}

svg.logo {
  display: inline-block;
}

.createBtn {
  @apply inline-flex items-center gap-1 px-2 py-1 rounded-[12px] text-xs font-bold transition-colors whitespace-nowrap;
  background-color: #eb1b00;
  color: #fde8e5;
}

.createBtn:hover {
  background-color: #c91500;
}